<div class="OLSKFeatureList">

<% OLSKFeatureListData.forEach(function ([name, blurb, image_url, className], i) { -%>
	<div class="OLSKFeatureListItem OLSKCommonCard OLSKCommonFeatureCard <%= className || '' %>">
		<% if (image_url) { -%>
			<img class="OLSKFeatureListItemIcon" src="<%= image_url %>" role="presentation" />
		<% } -%>

		<section>
			<span class="OLSKFeatureListItemName"><%= name %></span>
			<span class="OLSKFeatureListItemBlurb"><%- blurb %></span>
		</section>
	</div>
<% }) -%>

</div>
